<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
>>>
        <ol>page, {{ page.size }}
          {% for item in page %}
            <li>{{ item[0] }} = {{ item[1] }}</li>
          {% endfor %}
        </ol>
        <ol>layout, {{ layout.size }}
          {% for item in layout %}
            <li>{{ item[0] }} = {{ item[1] }}</li>
          {% endfor %}
        </ol>
<<<
      </div>
    </main>

  <!-- {%- include footer.html -%} -->

  </body>
  {%- include foot.html -%}

</html>