---
layout: default
---

<div class="home">
  <h1>site.web</h1>
  {% comment %} {{ site.web.size }} {% endcomment %}
  {% for item in site.web %}
    {% comment %} <pre>{{item}}</pre> {% endcomment %}
    {% for elem in item %}
      {% if elem != 'output' and elem != 'previous' and elem != 'next' %}
<pre>{{elem}} = {{item[elem]}}</pre>
      {% endif %}
    {% endfor %}
  {% endfor %}

  <h1>page</h1>
  {% for item in page %}
<pre>{{ item[0] }} = {{ item[1] }} </pre>
{% endfor %}

  <!-- {%- if page.title -%}<h1 class="page-heading">{{ page.title }}</h1>{%- endif -%} -->
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>